.ipynb_checkpoints/
__pycache__/
_edi/

# Original files to consider adding later
station/original/2020_Fraser/FORAGING.xls
station/original/2020_Fraser/FORAGING.zip
station/original/2023/Palmer.zip
cruise/original/2023/Cruise.zip
station/original/2022/2022_preliminary/

# Hide development files and output
dev/
out/
cruise/_dev_2024/
cruise/old/

# Hide cruise formatted output during testing
cruise/formatted/

# Hide merged output
station/merged
cruise/merged/
cruise/qc_reports/
