.ipynb_checkpoints/
_edi/
dev/

# Original files to consider adding later
station/original/2023/Palmer.zip
cruise/original/2023/Cruise.zip
station/original/2022_prelim/
station/original/2020_Fraser/FORAGING.xls
station/original/2020_Fraser/FORAGING.zip
station/original/2024/

# Output folders
out/
merged/

# Temporarily hide files in development
*Cruise_Transect*
