.ipynb_checkpoints/
__pycache__/
_edi/
dev/

# Original files to consider adding later
station/original/2020_Fraser/FORAGING.xls
station/original/2020_Fraser/FORAGING.zip
station/original/2023/Palmer.zip
cruise/original/2023/Cruise.zip
station/original/2022/2022_preliminary/

# Hide development output
/out/
/cruise/_dev_2024/

# Hide merged output for now
merged/
cruise/formatted/
